In [69]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd 
import csv
import re

In [3]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36'}

In [4]:
url ='https://www.hepsiburada.com/laptop-notebook-dizustu-bilgisayarlar-c-98'

In [5]:
r = requests.get(url, headers=header)

In [6]:
soup = BeautifulSoup(r.content, 'lxml')
st1=soup.find("div",attrs={"id":"ProductList"})
st2=st1.find("ul",attrs={"id":"1"})
st3=st2.find_all("div",attrs={"class":"moria-ProductCard-joawUM"})

In [111]:
names=[] 
prices=[] 
stars=[]

for info in st3:
    link=info.a.get("href")
    r1=requests.get(link,headers=header)
    soup1=BeautifulSoup(r1.content,"lxml")
    try:
        name=soup1.find("h1",attrs={"itemprop":"name"})
    except:
        name="None"
    try:
        price=soup1.find("div",attrs={"class":"extra-discount-price"})
        
    except:
        price="None"
    try:
        star=soup1.find("span",attrs={"class":"rating-star"}).text
    except:
        star:"None"
            
    names.append(name.text.strip('\r\n'))
    prices.append(price.text.strip('\r\n'))
    stars.append(star)
            
    
    #if None in (name, price, star):
        #continue
    time.sleep(1)

In [112]:
df = pd.DataFrame({'Product Name':names,'Price':prices,'Rating':stars}) 
df.to_csv('products.csv', index=False, encoding='utf-8')

In [113]:
df.head()

,Product Name,Price,Rating
0,Monster Abra A7 V11.5 Intel Core i7 11...,"14.106,55 TL","4,7\r\n"
1,HP 14S-FQ0034NT AMD Ryzen 5 4500U 8GB ...,"4.598,99 TL","3,9\r\n"
2,Asus TUF FX506LI-HN085 Intel Core i5 1...,"8.299,00 TL","4,5\r\n"
3,Lenovo V15-IIL Intel Core i5 1035G1 8G...,"5.998,99 TL","4,7\r\n"
4,Lenovo IdeaPad Gaming 3 AMD Ryzen 5 46...,"7.649,00 TL","4,8\r\n"